@import './base.css';
@import 'primevue/resources/themes/md-dark-indigo/theme.css';
@import 'primeicons/primeicons.css';

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0 2rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(159, 168, 218);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(159, 168, 218, 0.92);
  }
}

.p-togglebutton .p-button {
  gap: 0.5em;
}